{{> header }}
<div id="chatBody">
<div class="chat-container">
  <ul class="chat-feed">
  </ul>
  <div class="chat-box">
    <div id="chatTitle">
    <form id='reviewForm'>
      <textarea placeholder="Write your message..." id='message'></textarea>
      <button type='submit'>
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  </div>
</div>
</div>
{{> footer }}