{{> header }}
<div class="home_container">


  <div class="cover" id="cover">
    <h1>Discover what's out there.</h1>
    <form  id="flex-form" class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" id="search-attorneys" placeholder="Waar zoek je een kot?" >
    </form>
    <div id="madeby">
      <span>
        Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a>
      </span>
    </div>
  </div>

</div>

<div class="container">
  <!-- example of multple grids, needs to put in for loop -->
  <div id="filter-bar">
	<button onclick="findItems('Studio')">Studio</button>
    <button onclick="findItems('Kamer')">Kamer</button>
	<button onclick="findItems('low')">Low Price</button>
	<button onclick="findItems('closeby')">Dichtbij</button>
</div>
<div class="flex-container" id="flex-container">

</div>
<div id="product-list"></div>
 <!-- /container -->        
  </div>
</div>
{{> footer }}
