{{> facebook }}
{{> header }}
<div class="home_container">


  <div class="cover" id="cover">
    <h1>Discover what's out there.</h1>
    <form  id="flex-form" class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" id="search-attorneys" placeholder="Waar zoek je een kot?" >
    </form>
    <div id="madeby">
      <span>
        Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a>
      </span>
    </div>
  </div>

</div>

<div class="container">
  <!-- example of multple grids, needs to put in for loop -->
  <div id="filter-bar">
	<button onclick="findItems('Studio')">Studio</button>
    <button onclick="findItems('Kamer')">Kamer</button>
	<button onclick="findItems('low')">Low Price</button>
	<button onclick="findItems('closeby')">Dichtbij</button>
</div>
<div class="flex-container" id="flex-container">

</div>
<div id="product-list"></div>
 <!-- /container -->        
  </div>
    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="form" id="kotForm">
      <h3 style="text-align: center">Form - Modal</h3>
      <label>Type van het kot:</label>
      <input type="text" id="kotType">
      
      <label>Oppervlakte:</label>
      <input type="number" id="kotOpp">
      
      <label>Verdieping:</label>
      <input type="number" id="kotVerdieping">
     
      <label>Aantal personen:</label>
      <input type="number" id="kotPers">
      
      <label>Toilet:</label>
      <select name="toiletlist" id="kotToilet">
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="nietA">Niet aanwezig</option>
      </select>

      <label>Douche:</label>
      <select name="douchelist" id="kotDouche">
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="nietA">Niet aanwezig</option>
      </select>

      <label>Bad:</label>
      <select name="badlist" id="kotBad">
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="nietA">Niet aanwezig</option>
      </select>

      <label>Keuken:</label>
      <select name="keukenlist" id="kotKeuken">
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="nietA">Niet aanwezig</option>
      </select>

      <label>Bemeubeld:</label>
      <select name="bemeubeldlist" id="kotBemeubeld">
        <option value="ja">Ja</option>
        <option value="nee">Nee</option>
      </select>
      
      <label>Foto's:</label>
      <input type="file" id="kotFoto">
     
      <label>Adres:</label>
      <input type="text" id="kotAdres">

       <label>Totaal aantal entiteiten in het pand:</label>
      <input type="number" id="kotEntity">


       <label>Vrije ingave - beschrijving - opmerkingen:</label>
      <input type="text" id="kotCom">


      <button id="kotSubmit">submit</button>
      



    </form>
  </div>

</div>


<div id="myModal2" class="modal2">

  <!-- Modal content -->
  <div class="modal-content2">
    <span class="close2">&times;</span>
      <div id="details">
          <div id="detType"></div>
          <div id="detOpp"></div>
          <div id="detVerdieping"></div>
          <div id="detPersonen"></div>
          <div id="detToilet"></div>
          <div id="detDouche"></div>
          <div id="detBad"></div>
          <div id="detKeuken"></div>
          <div id="detBemeubeld"></div>
          <div id="detAdres"></div>
          <div id="detEntity"></div>
          <div id="detComment"></div>

      </div>
  </div>

</div>
          <div id="plus" class="hidden"><i class="fa fa-plus icon"></i></div>

</div>
{{> footer }}
