{{> header }} 
<div class="home_container">
  <div class="bodyCont">

<div class="flex-grid">
  <div class="cover" id="cover">
    <h1>Discover what's out there.</h1>
    <form  id="flex-form" class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" id="search-attorneys" placeholder="Waar zoek je een kot?" >
    </form>
    <div id="madeby">
      <span>
        Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a>
      </span>
    </div>
  </div>
</div>


  <!-- example of multple grids, needs to put in for loop -->
  
<div class="flex-container " id="flex-container">
  <div id="filter-bar">
    <p>Filter By</p>
    <select id="order">
      <option value="1" selected>Unselected</option>
      <option value="-1">Oppervlakte</option>
      <option value="-2">Type</option>
      <option value="-3">Afstand</option>
      <option value="-4">kostPrijs </option>
    </select>
  </div>

    <div id="fullContent">

    </div>

</div>

<div id="product-list"></div>
 <!-- /container -->        
    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="form" id="kotForm">
      <h3 style="text-align: center">Form - Modal</h3>

      <input type="text" id="kotType" placeholder="Type van het kot">

      <div class="inlineFlex">
      <input type="number" id="kotEntity" placeholder="Tot. entiteiten">
      <input type="number" id="kotPrijs" placeholder="Huurprijs">
      </div>
      <div class="inlineFlex">
      <input type="number" id="kotWaarborg" placeholder="Waarborg">
      <input type="number" id="kotOpp" placeholder="Oppervlakte">
      </div>
      <div class="inlineFlex">
      <input type="number" id="kotVerdieping" placeholder="Verdieping">
      <input type="number" id="kotPers" placeholder="Aantal personen">
      </div>
      
      <input type="text" id="kotAdres" placeholder="Adres">

      <select name="toiletlist" id="kotToilet" placeholder="Toilet">
        <option value="" disabled selected hidden>Toilet</option>
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="niet aanwezig">Niet aanwezig</option>
      </select>

      <select name="douchelist" id="kotDouche" placeholder="Douche">
        <option value="" disabled selected hidden>Douche</option>
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="niet aanwezig">Niet aanwezig</option>
      </select>

      <select name="badlist" id="kotBad"placeholder="Bad">
        <option value="" disabled selected hidden>Bad</option>
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="niet aanwezig">Niet aanwezig</option>
      </select>

      <select name="keukenlist" id="kotKeuken" placeholder="Keuken">
        <option value="" disabled selected hidden>Keuken</option>
        <option value="prive">Prive</option>
        <option value="gedeeld">Gedeeld</option>
        <option value="niet aanwezig">Niet aanwezig</option>
      </select>

      <select name="bemeubeldlist" id="kotBemeubeld" placeholder="Bemeubeld">
        <option value="" disabled selected hidden>Bemeubeld</option>
        <option value="ja">Ja</option>
        <option value="nee">Nee</option>
      </select>
      <label class="file" title=""><input type="file"  id="kotFoto" onchange="this.parentNode.setAttribute('title', this.value.replace(/^.*[\\/]/, ''))" /></label>

     


      <input type="text" id="kotCom" placeholder="Vrije ingave - beschrijving - opmerkingen">


      <button id="kotSubmit">submit</button>
      



    </form>
  </div>

</div>


<div id="myModal2" class="modal2">

  <!-- Modal content -->
  <div class="modal-content2">
      <div id="details">
        <div class="product">
              <span class="close2">&times;</span>

              <img src="" id="detImg" alt="image" />
              <div class="product-text">
              <div class="profileInfo">
              <img alt='Profile Photo' class='avatar-photo' height='28' src='https://4.bp.blogspot.com/-H232JumEqSc/WFKY-6H-zdI/AAAAAAAAAEw/DcQaHyrxHi863t8YK4UWjYTBZ72lI0cNACLcB/s1600/profile%2Bpicture.png' width='28'>
              <div class="posted-name" id="postName"></div>
              <div class="Type" id="Type">    
              </div>
              </div>

               <p>
                <P>Oppervlakte: <span id="detOpp"></spanspan></p>
                <p>Verdieping: <span id="detVerdieping"></span></p>
                 <p>Aantal personen: <span id="detPersonen"></span></p>
                 <p>Toilet: <span id="detToilet"></span></p>
                 <p>Douche: <span id="detDouche"></span></p>
                 <p>Bad: <span id="detBad"></span></p>
                 <p>Keuken: <span id="detKeuken"></span></p>
                 <p>Bemeubeld: <span id="detBemeubeld"></span></p>
                 <p>Adres: <span id="detAdres"></span></p>
                 <p>Entity: <span id="detEntity"></span></p>
                 <p>Comment: <span id="detComment"></span> </p>
               <hr>
               <div class='icons'>
               <div data-href="https://developers.facebook.com/docs/plugins/" class="fb-share-button"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" ><i class="fa fa-share-alt iconColor"></i></a></div>
               <a href="/#chat" id="chatUser"><i class="fa fa-comment-o iconColor"></i></a>

               <button class="heartBtn"><i class="fa fa-heart-o iconColor" id="favorite"></i></button>
               </div>
             

              </div>
             </div>

      </div>
  </div>

</div>
          <div id="plus" class="hidden"><i class="fa fa-plus icon"></i></div>
</div>
</div>
{{> footer }}
