{{> header }}

<div class=" logForm z-depth-2">

<!-- Mixins-->
<!-- Pen Title-->
<div class="formContent">
	<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
				<!--<div class="avatarContainer">
	
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' onchange='openFile(event)' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
            
            
        </div>
        <div class="avatar-preview">
            <div id="clock" style="background-image: url(https://4.bp.blogspot.com/-H232JumEqSc/WFKY-6H-zdI/AAAAAAAAAEw/DcQaHyrxHi863t8YK4UWjYTBZ72lI0cNACLcB/s1600/profile%2Bpicture.png);">
            </div>
        </div>
        
    </div>
		</div>-->
		<div id="UserOption">
		<input type="checkbox" id="checkbox" name="admin" value="Admin"> <span class="boxContent"> Ik ben een verkoper</span>  <br>
		  <select name="campuslist" id="CampusList" autocomplete="off">
        <option value="" disabled selected hidden>Campus</option>
        <option value="1">Artevelde Mariakerke</option>
        <option value="2 ">Hogeschool gent</option>
				<option value="3">Odisee Gent</option>

      </select>
		</div>
		<div class="form-holder">
			
			<input type="text" class="input"  id="userName" placeholder="Name" />
			<input type="email" class="input" id="registMail" placeholder="Email" />
			<input type="text" class="input"  id="userAdres" placeholder="Adres" />
			<input type="number" class="input"  id="userTelefoon" placeholder="Telefoonnummer" />

			<input type="password" class="input" id="registPass" placeholder="Password" />
		</div>
		<button class="submit-btn" id="submit-Sign">Sign up</button>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder">
				<input type="email" class="input" id="mailLogin" placeholder="Email" />
				<input type="password" class="input" id="passLogin" placeholder="Password" />
			</div>
			<button class="submit-btn" id="submit-Log">Log in</button>
		</div>
	</div>
</div>
</div>
<!--	<div class="wrapper">
		
	<div class="register--content animated" hidden >
		
		<div class="login--button">
		<span>If you have an   account</span>
			<a class="btn" onclick="event.preventDefault();" data-popup-open="register-popup" href="#">Login</a>
		</div>
		
		 <h1>Create a new account</h1>
		<div class="social">
			<a href=""><span class="google-icon"><i class="fa fa-google"></i></span>Register with <strong>Google</strong></a>
		</div>
		
	  <div class="via-email">
		  <span>or via email</span>
		</div>
		
		<div class="name">
  <input type="text" class="inputText" id="userName" required/>
  <span class="floating-label">Your name</span>
</div>
		
	<div class="email">
  <input type="text" class="inputText" id="registMail" required/>
  <span class="floating-label">Your email</span>
</div>
	<div class="adres">
  <input type="text" class="inputText" id="registMail" required/>
  <span class="floating-label">Adres</span>
</div>
<div class="adres">
  <input type="text" class="inputText" id="registMail" required/>
  <span class="floating-label">Adres</span>
</div>
<div class="telefoon">
<input type="tel" id="phone" name="phone">
  <span class="floating-label">Telefoonnummer</span>
</div>
<div class="password">
  <input type="text" class="inputText" id="registPass" required/>
  <span class="floating-label">Your password</span>
</div>

		<input type="submit" class="register-buttton" value="Sign Up" name="register">
		</div>	
		
		
		
		
	<div class="login--content animated" >
		
		<div class="login--button">
		<span>Create a new  account</span>
			<a class="btn-reg" onclick="event.preventDefault();" data-popup-open="register-popup" href="#">Sign up</a>
		</div>
	<!--
		<div class="avatarContainer">
    <h1>Image Upload 
        <small>with preview</small>
    </h1>
	
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' onchange='openFile(event)' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
            
            
        </div>
        <div class="avatar-preview">
            <div id="clock" style="background-image: url(https://4.bp.blogspot.com/-H232JumEqSc/WFKY-6H-zdI/AAAAAAAAAEw/DcQaHyrxHi863t8YK4UWjYTBZ72lI0cNACLcB/s1600/profile%2Bpicture.png);">
            </div>
        </div>
        
    </div>
		
</div>
-->
<!--
		<h1>Login to your account</h1>
		<div class="social">
			<a href=""><span class="google-icon"><i class="fa fa-google"></i></span>Register with <strong>Google</strong></a>
		</div>
		
		<div class="via-email">
		  <span>or via email</span>
		</div>
		
		<div class="email">
  <input type="text" class="inputText" id="mailLogin" required/>
  <span class="floating-label">Your email</span>
</div>

<div class="password">
  <input type="text" class="inputText" id="passLogin"  required/>
  <span class="floating-label">Your password</span>
</div>
		<span>Reset your pasword</span>

		<input type="submit" id="loginBttn" class="register-buttton" value="Login" name="Login">
		  
		</div>
	
  </div>
	
	<div class="registred">
		<h1>Great Job</h1>
		<button class="reset">Reset</button>
	</div>
	
	
</div>
-->
