{{> header }}

<div class=" logForm z-depth-2">

<!-- Mixins-->
<!-- Pen Title-->
<div class="formContent">
	
	<div class="wrapper">
		
	<div class="register--content animated" hidden >
		
		<div class="login--button">
		<span>If you have an   account</span>
			<a class="btn" onclick="event.preventDefault();" data-popup-open="register-popup" href="#">Login</a>
		</div>
		
		 <h1>Create a new account</h1>
		<div class="social">
			<a href=""><span class="facebook-icon"><i class="fa fa-facebook"></i></span>Register with <strong>Facebook</strong></a>
		</div>
		
	  <div class="via-email">
		  <span>or via email</span>
		</div>
		
		<div class="name">
  <input type="text" class="inputText" id="userName" required/>
  <span class="floating-label">Your name</span>
</div>
		
	<div class="email">
  <input type="text" class="inputText" id="registMail" required/>
  <span class="floating-label">Your email</span>
</div>

<div class="password">
  <input type="text" class="inputText" id="registPass" required/>
  <span class="floating-label">Your password</span>
</div>

		<input type="submit" class="register-buttton" value="Sing Up" name="register">
		</div>	
		
		
		
		
	<div class="login--content animated" >
		
		<div class="login--button">
		<span>Create a new  account</span>
			<a class="btn-reg" onclick="event.preventDefault();" data-popup-open="register-popup" href="#">Sing up</a>
		</div>
		<div class="avatarContainer">
    <h1>Image Upload 
        <small>with preview</small>
    </h1>
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
            
            
        </div>
        <div class="avatar-preview">
            <div id="clock" style="background-image: url(http://i.pravatar.cc/500?img=7);">
            </div>
        </div>
        
    </div>
</div>
		<h1>Login to your account</h1>
		<div class="social">
			<a href=""><span class="facebook-icon"><i class="fa fa-facebook"></i></span>Login with <strong>Facebook</strong></a>
		</div>
		
		<div class="via-email">
		  <span>or via email</span>
		</div>
		
		<div class="email">
  <input type="text" class="inputText" id="mailLogin" required/>
  <span class="floating-label">Your email</span>
</div>

<div class="password">
  <input type="text" class="inputText" id="passLogin"  required/>
  <span class="floating-label">Your password</span>
</div>
		<span>Reset your pasword</span>

		<input type="submit" id="loginBttn" class="register-buttton" value="Login" name="Login">
		  
		</div>
	
  </div>
	
	<div class="registred">
		<h1>Great Job</h1>
		<button class="reset">Reset</button>
	</div>
	
	
</div>
<div class="page list">
  <h1>{{title}}</h1>
  <div class="body">
    {{#if loading}}
      Loading data, please wait...
    {{else}}
    <ul>
      {{#each posts}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>
    {{/if}}
    Go to <a href="/" data-path>Home page</a>
  </div>
</div>
{{> footer }}