{{> header }}
<!--Locate inner html in home.js-->
 <div id="rentPage"></div>

  <!-- Panels -->


    <!-- Modal -->

  <div class="swipe">
        <div class="profileContainer">

  <section class="up"></section>

  <div class="left">

    <section class="cam"></section>

    <div class="profile-info">

      <section class="dots"><i class="fas fa-ellipsis-v"></i></section>

      <ul>
        <li><img src="https://4.bp.blogspot.com/-H232JumEqSc/WFKY-6H-zdI/AAAAAAAAAEw/DcQaHyrxHi863t8YK4UWjYTBZ72lI0cNACLcB/s1600/profile%2Bpicture.png" /></li>
        <li>
          <h2><span class="nameUser"></span></h2>
        </li>
        <li>Lorem | Ipsum | Dittum</li>
        <li></li>
        <li>TEST &ensp;|&ensp; ME</li>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>
        </li>
      </ul>

    </div>

    <div class="numbers">

      <ul>
        <li><span>30</span>posts</li>
        <li><span>4</span>collections</li>
        <li><span>1.2k</span>votes</li>
      </ul>

    </div>

    <div class="posts">
    </div>

  

  </div>
  </div>

  <!-- Info -->
  <div class="info">
    <div class="inner">
      <h3>Dus je wilt een verhuurder worden?</h3>
      <p>Klik op onderstaande knop en zie de extra features</p>
       <button class="gradient-button gradient-button-1">
          Klik hier
        </button>
    </div>
   
  </div>