{{> header }}
<!--Locate inner html in home.js-->
 <div id="rentPage"></div>

  <!-- Panels -->
  
  <div class="swipe">
        <section id="home" class="sec-main">
    <h1 class="main-heading">Wordt een verhuurder.</h1>
    <h3 class="main-heading little">Welkom <span class="nameUser"></span>
</h3>
  </section>
  </div>

  <!-- Info -->
  <div class="info">
    <div class="inner">
      <h3>Dus je wilt een verhuurder worden?</h3>
      <p>Klik op onderstaande knop en zie de extra features</p>
       <button class="gradient-button gradient-button-1">
          Klik hier
        </button>
    </div>
   
  </div>