{{> header }}
<!--Locate inner html in home.js-->
 <div id="rentPage"></div>

  <!-- Panels -->


    <!-- Modal -->
  <section>
    <div id="userProfile">
      <img src="https://firebasestorage.googleapis.com/v0/b/opdracht1-ec83f.appspot.com/o/profilePicture%2FMark-Zuckerberg.jpg?alt=media&token=2ba62f26-10fc-429c-aa66-8cf03b077343">
    </div>
  <div class="profileContainer">

  <div class="left">

    <div class="profile-info">

      <ul class="headerInfo">
        <li>
          <h2><span class="nameUser"></span></h2>
        </li>
        <li><span class="school"></span></li>
       

          <div class="sidebar-social">
          <ul>
          <li>
          <a href="#/chat" title="Facebook" target="_blank" rel="nofollow"><i class="fa fa-comment-o chatColor"></i><span>Chat</span></a></li>

          <li><a href="#/rent" title="Google Plus" target="_blank" rel="nofollow"><i class="fa fa-user profileColor"></i><span>Profile</span></a>
          </li>
                  
          <li><a href="#/map" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-map mapColor"></i><span>Map</span></a>
          </li>
         </ul>
          </div>
      </ul>
       
       <div class="posts" id='posts'>
    </div>


    </div>


   
  

  </div>
  </div>
    </section>


  <!-- Info -->
  
  {{> footer}}