{{> header }}
 <div class="tindercontainer">
       
        <div class="user">
            <div class="user__card" >
                 <div class="product">
                            <img src="" class="user__image" src="" id="hammer" alt="image" />
                            <div class="product-text">
                            <div class="profileInfo">
                            <img alt='Profile Photo' class='avatar-photo' height='28' src='https://4.bp.blogspot.com/-H232JumEqSc/WFKY-6H-zdI/AAAAAAAAAEw/DcQaHyrxHi863t8YK4UWjYTBZ72lI0cNACLcB/s1600/profile%2Bpicture.png' width='28'>
                            <div class="posted-name user__name"></div>
                            <div class="Type user__type" ><br>  
                            </div>
                            </div>

                            <p>Het gegeven adres: <span class="user__adres"></span> <br> De prijs: <span class="user__prijs"></span></p>
                                <p> De opgegeven oppervlakte: <span class="user__opp"></span> m² </p>  
                            
                            <hr>
                            <div class='icons'>
                            <div data-href="https://developers.facebook.com/docs/plugins/" class="fb-share-button"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" ><i class="fa fa-share-alt iconColor"></i></a></div>
                            <a href="/#chat" id="chatUser"><i class="fa fa-comment-o iconColor"></i></a>
                            </div>
                            

                        </div>
                    </div>
                
            </div>
            <div class="evaluation">
              
                <button class="evaluation__button evaluation__button--dislike" id="dislike" type="button">
                    <span>Dislike
                    </span>
                </button>
                <button class="evaluation__button evaluation__button--like" id="like" type="button">
                    <span>
                       Like
                    </span>
                </button>
                
            </div>
        </div>
        </div>
