<div id="welcomeContainer">
    <div id="welcomeImage">
    </div>
    <div id="welcomeText">
        <h1>Welcome by Kotbnb</h1>
        <p>Welkom bij Kotbnb, om meer functionaliteiten te bezien moet je daarvoor eerst inloggen</p>
        <a href="/#home">Next</a>
    </div>
</div>