@import "./var.scss";

#userProfile img{
  height: 300px;
    background-size: cover;
    position: relative;
}
.profileContainer {
    width: 100%;
    position: absolute !important;
    z-index: 25;
    margin: 0 auto;
   
  }
  .profileContainer button{
    background: none !important;
    border: none;
    padding: 0 !important;
  }
.profileContainer img{
  margin: 0;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
  
  .profileContainer > div {
    top: 10%;

    width: 100%;
    display: inline-block;
     }
  
  .profileContainer .right {
    margin-left: 35px;
  }
  
  .profileContainer .left:before {
    width: 60%;
    border-radius: 50px;
 
  }
  .profileContainer .nameUser{
    font-size: $title;
    color: $darkBody;
  }

  .profileContainer .school{
    font-size: $bodyTitle;
  }

  .sidebar-social .chatColor{
    color: #3ACCE1;
  }
  .sidebar-social .profileColor{
    color: #C840E9;

  }
  .sidebar-social .mapColor{
    color: #665EFF;

  }
  .profileContainer .headerInfo{
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;


  }
  .profileContainer .product #chatUser {
    margin-left: 80%;
    font-size: inherit;
}
  
  .sidebar-social {
    margin-top: 10px;
    padding: 0;
    box-shadow: $Shadow;
    border-radius: 11px;
}

.sidebar-social ul {
    margin: 0;
    padding: 5px;
}

.sidebar-social li {
    text-align: center;
    width: 31.9%;
    margin-bottom: 3px!important;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
}

.sidebar-social a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    color: #444;
    text-decoration: none;
}

.sidebar-social i {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
}


  /*.profileContainer .up:before {
    content: "";
    height: 60px;
    width: 4px; 
    background-color: hsl(0, 0%, 15%);
    position: absolute;
    top:188px;
    left: 95px;
    display: inline-block;
    border-radius: 50px;
  }
  
  .profileContainer .up:after {
    content: "";
    height: 60px;
    width: 4px; 
    background-color: hsl(0, 0%, 15%);
    position: absolute;
    top:170px;
    left: 95px;
    display: inline-block;
    border-radius: 50px;
  }*/

  
  .profileContainer .left .profile-info {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 12px;
    position: absolute;
    top: -64px;
    box-shadow: $Shadow;
  }
  /*
  .profileContainer .left .profile-info:before{
  content: "";
    position: absolute;
    width: 65%;
    height: 80%;
    top: 0;
    left: 0;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    -o-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    background: linear-gradient(-90deg, #c31432, #e33c56);
}
*/


  

  .modal, .modal2 {
    display: none; 
    position: fixed; 
    z-index: 28; 
    padding-top: 62px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.13);
}
.modal-content2{
      /* background-color: #fefefe; */
      margin: auto;
      /* padding: 20px; */
      /* border: 1px solid #888; */
      width: 100%;
      max-width: 400px;
      min-height: 446px;
}
.modal-content2 .product{
  min-height: 542px;

}
/* Modal Content */
.modal-content, {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    min-height: 400px;
}
#kotForm select{
  padding: 0;
}

/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2{
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.close:hover,
.close:focus,.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal input, .modal select{
  margin: 5px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
}
.modal input{
  padding: 10px;
}

.modal .inlineFlex{
  display: inline-flex;
}
.modal .inlineFlex input{
  width: 50%;
}

label.file input {position:absolute; width:0; overflow:hidden; opacity:0;}
label.file {
  width:0%; /* Use for fluid design */
  min-width:98%;
  height:30px;
  line-height:28px!important;
  cursor:pointer;
  position:relative;
  display:inline-block;
  white-space:nowrap;
  font-family:sans-serif;
  text-align:right;
}
label.file:before {
  content:"No file chosen";
  display:block;
  position:absolute;
  box-sizing:border-box;
  width:100%;
  height:inherit;
  padding:0 84px 0 10px;
  border:0px solid #e8eeef;
  border-width:2px 0px 2px 2px;
  border-radius:3px 0 0 3px;
  background-color:#fff;
  color:#a0b7c5;
  font-size:12px;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align:center;
  vertical-align:middle;
}
label.file[title]:not([title=""]):before{
  content:attr(title);
  color:#162f44;
}
label.file:after {
  content:"BROWSE";
  display:inline-block;
  position:relative;
  box-sizing:border-box;
  width:74px;
  height:inherit;
  padding:0 4px;
  border-radius:0 3px 3px 0;
  background-color: $red;
  color:#fff;
  overflow:hidden;
  font-size:9px;
  font-weight:bold;
  text-overflow:ellipsis;
  text-align:center;
  vertical-align:middle;
}

.modal button{
  width: 200px;
  margin: 10px auto;
  background-color: $red;
  color: #fefefe;
  border: none;
  height: 2rem;
  border-radius: 10px;
}