<head>
  <title>Kotbnb</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta name="url" property="og:url"           content="" />
  <meta property="og:type"          content="website" />
  <meta name="title" property="og:title"         content="" />
  <meta name="description" property="og:description"   content="" />
  <meta property="og:image"         content="" />
</head>

