
  <header>
    <h2><a href="#"><i class="ion-plane"></i> KotBnb</a></h2>
    <nav>
      <ul>
        <li>
          <a href="./" title="Hotels">Home</a>
        </li>
         <li>
          <a href="/rent" title="Hotels">Wordt verhuurder</a>
        </li>
        <li>
          <a href="/about" data-path title="Flights">About</a>
        </li>
        <li>
          <a href="/mapbox" data-path title="Tours">Mapbox</a>
        </li>
        <li>
          <a class="btn" href="/firebase" data-path title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>