
  <header>
    <h2><a href="#"><i class="ion-plane"></i> KotBnb</a></h2>
    <nav>
      <ul class="navUl">
        <li>
          <a href="/" data-navigo title="Hotels">Home</a>
        </li>
         <li id="rent">
          <a href="/rent"  data-navigo title="Hotels">Wordt verhuurder</a>
        </li>
        <li>
          <a href="/about" data-navigo title="About">About</a>
        </li>
        <li>
          <a href="/mapbox" data-navigo title="Mapbox">Mapbox</a>
        </li>
        <li class="listRegisterBtn">
          <a class="btn" id="registerBtn" href="/firebase" data-navigo title="Register / Log In">Register/Log In</a>
        </li>
         
      </ul>
    
    </nav>
  </header>